/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html,
body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}
h1 {
  font-size: 6em;
  color: #EF4723;
}
h2 {
  font-size: 3em;
  color: #EF4723;
}
h3 {
  font-size: 2em;
  color: #EF4723;
}
h4 {
  font-size: 1.5em;
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
}
.below-nav {
  padding-top: 60px;
}
.emph {
  color: #EF4723;
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px;
  width: 100%;
  height: 60px;
  background: #EBEDF1;
}
.nav img {
  width: 115px;
}
.nav nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav nav a {
  margin: 0 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEDF1;
  background: #777E8C;
  border-top: #B0B5BF solid 1px;
  padding: 20px 0;
}
.header {
  min-height: 100vh;
  background: url("../img/Buffet.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header .wrapper {
  margin-top: 100px;
}
.header .wrapper .content {
  padding: 20px 40px;
  background: rgba(235, 237, 241, 0.75);
  max-width: 80%;
}
.header .wrapper .content h1 {
  padding-left: 10px;
  border-bottom: 3px dashed #EF4723;
  margin-bottom: 20px;
}
.header .wrapper .content p {
  text-align: right;
  color: black;
  line-height: 2em;
}
.header .wrapper .content p img {
  vertical-align: middle;
  width: 40px;
}
.details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.details div {
  width: 35%;
  padding: 10px;
  border: 1px solid black;
}
