// General Styles
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 300;
  font-size: @text-size;
}

h1 {
  font-size: 6em;
  color: @orange;
}

h2 {
  font-size: 3em;
  color: @orange;
}

h3 {
  font-size: 2em;
  color: @orange;
}

h4 {
  font-size: 1.5em;
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.below-nav {
  padding-top: @nav-height;

  @media @mobile {
    padding-top: @nav-height-mobile;
  }
}

.emph {
  color: @orange;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

@keyframes hover-underline {
  from {
    border-bottom: 1px solid black;
  }
  to {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: -5px;
  }
}

@media @tablet {
  h1 {
    font-size: 3em;
    text-align: center;
  }

  .desktop-only {
    display: none;
  }
}