.nav {
    position: fixed;
    .flex(row);
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
    width: 100%;
    height: @nav-height;
    background: @light;

    @media @mobile {
        flex-direction: column;
        flex-wrap: nowrap;
        height: @nav-height-mobile;
    }

    img {
        width: 115px;

        @media @mobile {
            padding: 10px 0;
        }
    }

    nav {
        .flex(row);

        a {
            margin: 0 25px;
        }

        a:hover {
            animation-name: hover-underline;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            text-decoration: none;
        }

        @media @mobile {
            flex-direction: column;
            flex-grow: 1;
            text-align: center;
            width: 100%;

            a {
                margin: 0;
                padding: 5px 0;
                width: 100%;
                flex-grow: 1;
            }

            a:hover {
                animation: none;
                background: @dark;
                color: @light;
            }
        }
    }
}