#about {
    text-align: center;
}

#members {
    .flex(row);
    justify-content: space-around;

    li {
        width: 300px;
        margin: 25px;
        padding: 25px;
        background: @light;

        img {
            width: 100%;
            border-radius: 50%;
            border: 2px solid @dark;
        }
    }
}