.header {
    min-height: 100vh;
    background: url("../img/Potluck.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .wrapper {
        margin-top: 100px;

        .content {
            padding: 20px 40px;
            background: fade(@light, 75%);
            max-width: 80%;

            h1 {
                padding-left: 10px;
                border-bottom: 3px dashed @orange;
                margin-bottom: 20px;
            }

            p {
                text-align: right;
                color: black;
                line-height: 2em;

                img {
                    vertical-align: middle;
                    width: @text-size * 2;
                }
            }
        }
    }
}

.details {
    .flex(row);
    justify-content: center;
    border-top: solid @dark 1px;
    
    .item {
        width: 50%;
        height: 100vh;

        .content {
            background: fade(@light, 80%);
            padding: 10px;
            max-width: 500px;
            margin-top: 30px;
            margin-left: auto;
            text-align: right;

            h3 {
                text-transform: uppercase;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            p {
                font-style: italic;
            }
        }
    }

    .guests {
        background: url("../img/Gathering.png");
        background-position: center;
        background-size: cover;
    }

    .food {
        background: url("../img/AssortedFoods.png");
        background-position: center;
        background-size: cover;
    }
}

.signup {
    padding-left: 40px;
    .flex(row);
    background: @orange;
    
    h2 {
        padding: 40px 0;
        color: @light;
    }

    div {
        .flex(row);
        justify-content: center;
        align-content: center;
        background: @light;
        margin-left: 10%;
        flex-grow: 1;
        background: url("../img/CreateAccount.png"), linear-gradient(to top right, @medium, white);
        background-size: cover;
        background-position: center;
        background-blend-mode: lighten;

        a {
            padding: 20px;
            background: @orange;
            color: @light;
        }

        a:hover {
            background: @lightorange;
        }
    }
}