.nav {
    position: fixed;
    .flex(row);
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
    width: 100%;
    height: @nav-height;
    background: @light;

    img {
        width: 115px;
    }

    nav {
        .flex(row);

        a {
            margin: 0 10px;
        }
    }
}

.header {
    align-content: unset;
    min-height: 100vh;
    background: url("../img/buffet.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .wrapper {
        margin: 100px auto 0;
        .flex(row);

        .content {
            background: fade(@light, 75%);
            padding: 20px 5%;
            border-radius: 10px;
    
            p {
                color: black;
            }
        }
    }
}

.details {
    .flex(row);
    
    div {
        width: 25%;
        margin: 40px 12.5%;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
    }
}