// Colors
@dark: #777E8C;
@medium: #B0B5BF;
@light: #EBEDF1;
@orange: #EF4723;
@lightorange: #F2785B;

@text-size: 20px;

@nav-height: 60px;
@nav-height-mobile: @nav-height * 2;

// Mobile
@mobile: ~"(max-width: 500px)";

@tablet: ~"(max-width: 800px)";